body {
    background-color:  #3cf504;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2c3e50;
    line-height: 1.6;
    margin: 0;
    padding: 20px;


} 

.contenedor {
    max-width: 900px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);


}

h1 {

    border-bottom: 2px solid #eb19e0;
    padding-bottom: 10px;
    color: #0c1cfa;
}

h2 {
    border-bottom: 2px solid #eb19e0;
    color: #0c1cfa;
    margin-top: 30px;

}

.introduccion {
    font-size: 1.1rem;
    margin-bottom: 20px;
    font-style: italic;
    color: #555555;     
}

ul , ol {
    background-color: #00eb7d;
    padding: 20px 40px;
    border-radius: 8px;
}

li {
    margin-bottom: 10px;
}

.imagen-huerto {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border: 8pxsolid #e0e0e0;
}

